* {
    box-sizing: border-box;
}
body, h1, h2, ul, li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    background: linear-gradient(to right, #1a1a1a 30%, #FFF 30%);
    font-style: 'Noto Serif', serif;
}

#app {
    padding: 0 80px;
}

/* Lista Produtos*/

.produtos {
    max-width: 900px;
    margin: 100px auto 0 auto;
}

.produto {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: #FFFFFF;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
}

.produto_img {
    max-width: 300px;
    margin-right: 40px;
}

.produto_nome {
    font-size: 3rem;
    line-height: 1;
}

.produto_preco {
    color: rgba(0,0,0,.6);
}

/* Modal */

.modal::before {
    content: "";
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 80px;

}

.modal_container {
    display: grid;
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, transparent 20%, #FFF 20%);
    align-items: end;
    grid-gap: 20px;
    padding: 0 50px 50px 0;
}

.modal_img {
    margin-top: 50px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1), 0 4px 10px rgba(0,0,0,.5) ;
}

.modal_img img {
    max-width: 300px;
    display: block;
}

.modal_dados {
    grid-column: 2;
}

.modal_preco {
    max-width: 600px;
}

.avaliacoes {
    grid-column: 2;
}